@font-face{font-family:Semafor;	src:url(smfb10.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Semafor;	src:url(smfbsl10.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:"Semafor Empty";	src:url(smfeb10.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Semafor Empty";	src:url(smfebsl10.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:"Semafor Empty";	src:url(smfer10.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Semafor Empty";	src:url(smfesl10.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
@font-face{font-family:"Semafor Empty Mono";	src:url(smfett10.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Semafor Person";	src:url(smfpb10.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Semafor Person";	src:url(smfpbsl10.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:"Semafor Person";	src:url(smfpr10.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Semafor Person";	src:url(smfpsl10.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
@font-face{font-family:"Semafor Person Mono";	src:url(smfptt10.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Semafor;	src:url(smfr10.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Semafor;	src:url(smfsl10.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
@font-face{font-family:"Semafor Mono";	src:url(smftt10.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
