@font-face{font-family:Emmentaler-11;	src:url(emmentaler-11.woff);	font-weight:500;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Emmentaler-13;	src:url(emmentaler-13.woff);	font-weight:500;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Emmentaler-14;	src:url(emmentaler-14.woff);	font-weight:500;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Emmentaler-16;	src:url(emmentaler-16.woff);	font-weight:500;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Emmentaler-18;	src:url(emmentaler-18.woff);	font-weight:500;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Emmentaler-20;	src:url(emmentaler-20.woff);	font-weight:500;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Emmentaler-23;	src:url(emmentaler-23.woff);	font-weight:500;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Emmentaler-26;	src:url(emmentaler-26.woff);	font-weight:500;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Emmentaler-Brace;	src:url(emmentaler-brace.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
