@font-face{font-family:XITS;	src:url(xits-bold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:XITS;	src:url(xits-bolditalic.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:XITS;	src:url(xits-italic.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
@font-face{font-family:"XITS Math";	src:url(xits-math.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"XITS Math";	src:url(xits-mathbold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:XITS;	src:url(xits-regular.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
