@font-face{font-family:DANTE;	src:url(DANTE-Bold-Italic.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:DANTE;	src:url(DANTE-Bold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:DANTE;	src:url(DANTE-Italic.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
@font-face{font-family:DANTE;	src:url(DANTE.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
