@font-face{font-family:"TeX Gyre Bonum Math";	src:url(texgyrebonum-math.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"TeX Gyre DejaVu Math";	src:url(texgyredejavu-math.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"TeX Gyre Pagella Math";	src:url(texgyrepagella-math.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"TeX Gyre Schola Math";	src:url(texgyreschola-math.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"TeX Gyre Termes Math";	src:url(texgyretermes-math.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
