@font-face{font-family:ocrb10;	src:url(ocrb10.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:ocrb5;	src:url(ocrb5.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:ocrb6;	src:url(ocrb6.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:ocrb7;	src:url(ocrb7.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:ocrb8;	src:url(ocrb8.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:ocrb9;	src:url(ocrb9.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
