@font-face{font-family:Baskervaldx;	src:url(Baskervaldx-Bol.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Baskervaldx;	src:url(Baskervaldx-BolIta.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:Baskervaldx;	src:url(Baskervaldx-Ita.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
@font-face{font-family:Baskervaldx;	src:url(Baskervaldx-Reg.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
