@font-face{font-family:MnSymbol10;	src:url(MnSymbol-Bold10.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:MnSymbol12;	src:url(MnSymbol-Bold12.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:MnSymbol5;	src:url(MnSymbol-Bold5.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:MnSymbol6;	src:url(MnSymbol-Bold6.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:MnSymbol7;	src:url(MnSymbol-Bold7.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:MnSymbol8;	src:url(MnSymbol-Bold8.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:MnSymbol9;	src:url(MnSymbol-Bold9.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:MnSymbol10;	src:url(MnSymbol10.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:MnSymbol12;	src:url(MnSymbol12.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:MnSymbol5;	src:url(MnSymbol5.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:MnSymbol6;	src:url(MnSymbol6.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:MnSymbol7;	src:url(MnSymbol7.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:MnSymbol8;	src:url(MnSymbol8.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:MnSymbol9;	src:url(MnSymbol9.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
