@font-face{font-family:Cyklop;	src:url(cyklop-italic.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
@font-face{font-family:Cyklop;	src:url(cyklop-regular.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
