@font-face{font-family:"GFS Neohellenic";	src:url(GFSNeohellenic.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"GFS Neohellenic";	src:url(GFSNeohellenicBold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"GFS Neohellenic";	src:url(GFSNeohellenicBoldIt.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:"GFS Neohellenic";	src:url(GFSNeohellenicIt.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
