@font-face{font-family:erewhon;	src:url(Erewhon-Bold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:erewhon;	src:url(Erewhon-BoldItalic.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:erewhon;	src:url(Erewhon-BoldSlanted.woff);	font-weight:700;	font-stretch:normal;	font-style:oblique}
@font-face{font-family:erewhon;	src:url(Erewhon-Italic.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
@font-face{font-family:erewhon;	src:url(Erewhon-Regular.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:erewhon;	src:url(Erewhon-RegularSlanted.woff);	font-weight:400;	font-stretch:normal;	font-style:oblique}
