@font-face{font-family:"GFS Artemisia";	src:url(GFSArtemisia.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"GFS Artemisia";	src:url(GFSArtemisiaBold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"GFS Didot";	src:url(GFSArtemisiaBoldIt.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:"GFS Artemisia";	src:url(GFSArtemisiaIt.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
