@font-face{font-family:"Fedorovsk Unicode";	src:url(FedorovskUnicode.woff);	font-weight:500;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Menaion Unicode";	src:url(MenaionUnicode.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Pomorsky;	src:url(PomorskyUnicode.woff);	font-weight:500;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Ponomar Unicode";	src:url(PonomarUnicode.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
