@font-face{font-family:Chivo;	src:url(Chivo-Black.woff);	font-weight:900;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Chivo;	src:url(Chivo-BlackItalic.woff);	font-weight:900;	font-stretch:normal;	font-style:italic}
@font-face{font-family:Chivo;	src:url(Chivo-Bold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Chivo;	src:url(Chivo-BoldItalic.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:Chivo;	src:url(Chivo-Italic.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
@font-face{font-family:Chivo;	src:url(Chivo-Light.woff);	font-weight:300;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Chivo;	src:url(Chivo-LightItalic.woff);	font-weight:300;	font-stretch:normal;	font-style:italic}
@font-face{font-family:Chivo;	src:url(Chivo-Regular.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
