@font-face{font-family:"UM Typewriter";	src:url(UMTypewriter-Bold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"UM Typewriter";	src:url(UMTypewriter-BoldItalic.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:"UM Typewriter";	src:url(UMTypewriter-Italic.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
@font-face{font-family:"UM Typewriter";	src:url(UMTypewriter-Oblique.woff);	font-weight:400;	font-stretch:normal;	font-style:oblique}
@font-face{font-family:"UM Typewriter";	src:url(UMTypewriter-Regular.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
