@font-face{font-family:Fetamont;	src:url(ffmb10.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Fetamont;	src:url(ffmbc40.woff);	font-weight:700;	font-stretch:condensed;	font-style:normal}
@font-face{font-family:Fetamont;	src:url(ffmbco40.woff);	font-weight:700;	font-stretch:condensed;	font-style:oblique}
@font-face{font-family:Fetamont;	src:url(ffmbo10.woff);	font-weight:700;	font-stretch:normal;	font-style:oblique}
@font-face{font-family:"Fetamont Script";	src:url(ffmbw10.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Fetamont Script";	src:url(ffmbwo10.woff);	font-weight:700;	font-stretch:normal;	font-style:oblique}
@font-face{font-family:Fetamont;	src:url(ffmc10.woff);	font-weight:500;	font-stretch:condensed;	font-style:normal}
@font-face{font-family:Fetamont;	src:url(ffmco10.woff);	font-weight:500;	font-stretch:condensed;	font-style:oblique}
@font-face{font-family:Fetamont;	src:url(ffmh10.woff);	font-weight:800;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Fetamont;	src:url(ffmho10.woff);	font-weight:800;	font-stretch:normal;	font-style:oblique}
@font-face{font-family:"Fetamont Script";	src:url(ffmhw10.woff);	font-weight:800;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Fetamont Script";	src:url(ffmhwo10.woff);	font-weight:800;	font-stretch:normal;	font-style:oblique}
@font-face{font-family:Fetamont;	src:url(ffml10.woff);	font-weight:300;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Fetamont;	src:url(ffmlc10.woff);	font-weight:300;	font-stretch:condensed;	font-style:normal}
@font-face{font-family:Fetamont;	src:url(ffmlco10.woff);	font-weight:300;	font-stretch:condensed;	font-style:oblique}
@font-face{font-family:Fetamont;	src:url(ffmlo10.woff);	font-weight:300;	font-stretch:normal;	font-style:oblique}
@font-face{font-family:Fetamont;	src:url(ffmlq10.woff);	font-weight:300;	font-stretch:ultra-condensed;	font-style:normal}
@font-face{font-family:Fetamont;	src:url(ffmlqo10.woff);	font-weight:300;	font-stretch:ultra-condensed;	font-style:oblique}
@font-face{font-family:"Fetamont Script";	src:url(ffmlw10.woff);	font-weight:300;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Fetamont Script";	src:url(ffmlwo10.woff);	font-weight:300;	font-stretch:normal;	font-style:oblique}
@font-face{font-family:Fetamont;	src:url(ffmo10.woff);	font-weight:500;	font-stretch:normal;	font-style:oblique}
@font-face{font-family:Fetamont;	src:url(ffmr10.woff);	font-weight:500;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Fetamont Script";	src:url(ffmw10.woff);	font-weight:500;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Fetamont Script";	src:url(ffmwo10.woff);	font-weight:500;	font-stretch:normal;	font-style:oblique}
