@font-face{font-family:Tempora;	src:url(Tempora-Bold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Tempora;	src:url(Tempora-BoldItalic.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:Tempora;	src:url(Tempora-Italic.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
@font-face{font-family:Tempora;	src:url(Tempora-Regular.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
