@font-face{font-family:"Chess Alpha Diagram";	src:url(AlphaDia.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:SkakNew-Diagram;	src:url(SkakNew-Diagram.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:SkakNew-DiagramT;	src:url(SkakNew-DiagramT.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:SkakNew-Figurine;	src:url(SkakNew-Figurine.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:SkakNew-Figurine;	src:url(SkakNew-FigurineBold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
