@font-face{font-family:"Punk Nova";	src:url(punknova-bold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Punk Nova";	src:url(punknova-boldslanted.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:"Punk Nova";	src:url(punknova-regular.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Punk Nova";	src:url(punknova-slanted.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
