@font-face{font-family:Cochineal;	src:url(Cochineal-Bold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:Cochineal;	src:url(Cochineal-BoldItalic.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:Cochineal;	src:url(Cochineal-Italic.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
@font-face{font-family:Cochineal;	src:url(Cochineal-Roman.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
