@font-face{font-family:"Fandol Braille Display";	src:url(FandolBraille-Display.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"Fandol Braille";	src:url(FandolBraille-Regular.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:FandolFang;	src:url(FandolFang-Regular.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:FandolHei;	src:url(FandolHei-Bold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:FandolHei;	src:url(FandolHei-Regular.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:FandolKai;	src:url(FandolKai-Regular.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:FandolSong;	src:url(FandolSong-Bold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:FandolSong;	src:url(FandolSong-Regular.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
