@font-face{font-family:"GFS Bodoni";	src:url(GFSBodoni.woff);	font-weight:400;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"GFS Bodoni";	src:url(GFSBodoniBold.woff);	font-weight:700;	font-stretch:normal;	font-style:normal}
@font-face{font-family:"GFS Bodoni";	src:url(GFSBodoniBoldIt.woff);	font-weight:700;	font-stretch:normal;	font-style:italic}
@font-face{font-family:"GFS Bodoni";	src:url(GFSBodoniIt.woff);	font-weight:400;	font-stretch:normal;	font-style:italic}
